

<div class="section vpad--xxl bg--grey-darkest bg--image text--white" style="background-image: url({{site.baseurl}}/img/content/competition.jpg);">
  <div class="wp" id="section-competition"></div>

  <div class="row row--padding text--center">
    <h2 class="title title--xxl title--display">Win a <img src="{{site.baseurl}}/img/logo/partner.png" class="js-svg-swap competition__title-logo" alt="PANDORA"> getaway</h2>
    <hr class="hr--center">
    <p class="text--xl text--bolder line-length">With five-star luxury guaranteed, it’s time to escape with your loved ones.</p>
    <p class="text--lg line-length">Win one of the breaks recommended by the PANDORA ambassadors – where will you go? Complete your trip with £100 to spend with PANDORA to perfect your look in inspired destinations.
    <p class="text--lg line-length">Enter here to be in with a chance of winning!</p>

    <a href="#enter" data-target="enter" class="accordion__trigger btn btn--solid btn--white">Enter now</a>

    <div class="space--xl"></div>

    <div id="enter" class="accordion accordion--closed row row--xl row--padding text--center bg--white bg--rounded vpad--sm">
      <iframe id="competition-form" src="https://promotion4401.strutta.me" width="100%" height="840"> </iframe>
    </div>

  </div>

</div>



