// Title & headline styles

.title {
  font-family: $font-family-headline;
  line-height: 1.2;
  color: $headline;
  .text--white & { color: white; }

  &--display {
    font-family: $font-family-display;
    line-height: 1.2;
    font-smoothing: auto;
    -webkit-font-smoothing: auto;
  }

  &--core {
    font-family: $font-family;
    line-height: 1.25;
  }

  &--color { color: $theme-primary; }

  & + *         { padding-top: .75em; }
  &--super + *  { padding-top: 15px !important; }
  &--sub        { padding-top: 15px !important; }
  &--light      { font-weight: 300; }
  &--bold       { font-weight: 500; }
  &--bolder     { font-weight: 600; }
  &--boldest    { font-weight: 800; }
  &--kerning    { letter-spacing: .15em; }
  &--kerning-lg { letter-spacing: .3em; }
  &--tight      { line-height: .9; }
  &--tighter    { line-height: .8; }
  &--capital    { text-transform: capitalize; }
  &--upper      { text-transform: uppercase; }
  &--italic     { font-style: italic; }

  &--display-size { font-size: $s8; }
  &--xxxxxl       { font-size: $s7; }
  &--xxxxl        { font-size: $s7; }
  &--xxxl         { font-size: $s7; }
  &--xxl          { font-size: $s6; }
  &--xl           { font-size: $s5; }
  &--lg           { font-size: $s4; }
  &--md           { font-size: $s3; }
  &--sm           { font-size: $s2; }
  &--xs           { font-size: $s1; }
  &--xxs          { font-size: $s0; }
  &--xxxs         { font-size: $s-1; }
  &--xxxxs         { font-size: $s-1; }

  @include bp(md){
    &--display-size { font-size: $s10; }
    &--xxxxxl       { font-size: $s11; }
    &--xxxxl        { font-size: $s10; }
    &--xxxl         { font-size: $s9; }
    &--xxl          { font-size: $s8; }
    &--xl           { font-size: $s7; }
    &--lg           { font-size: $s6; }
    &--md           { font-size: $s5; }
    &--sm           { font-size: $s4; }
    &--xs           { font-size: $s3; }
    &--xxs          { font-size: $s2; }
    &--xxxs         { font-size: $s1; }
    &--xxxxs         { font-size: $s-1; }
  }




  $line-width: 100px;
  &--lined {
    position: relative;
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 0.5em;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -2px;
      height: 4px;
      width: $line-width;
      border-top: 1px solid $grey-lighter;
      border-bottom: 1px solid $grey-lighter;
    }
    &:before { left: -$line-width; }
    &:after { right: -$line-width; }

    .text--white & {
      &:before,
      &:after {
        border-top: 1px solid rgba($white,0.4);
        border-bottom: 1px solid rgba($white,0.4);
      }
    }
  }

}