// the title banner that appears at the top of every page. sometimes animated bgs

$core-nav-height:     $s9;
$core-nav-height-sm:  $s8;

.banner {
  position: relative;
  overflow: hidden;
  text-align: center;
  color: white;
  height: 80%;
  min-height: 400px;
  .overview & { height: 80%; }
  &__wrap {
    display: table;
    width: 100%;
    height: 100%;
  }
  &__content {
    padding-top: 4em;
    padding-bottom: 4em;
    display: table-cell;
    vertical-align: middle;
    text-shadow: 0 0 35px rgba($grey-darkest,0.6);
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-background;
    background-color: $grey-dark;
    @include background-attributes;
  }
  &__nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba($white,0.8);
  }


  .layout--story & {
    padding-top: $core-nav-height-sm*2;
    @include bp(md){
      padding-top: $core-nav-height*2;
      padding-bottom: $core-nav-height;
      margin-bottom: -$core-nav-height;
    }

    .banner{
      &__nav {
        bottom: auto;
        top: $core-nav-height-sm;
        @include bp(md){
          top: $core-nav-height;
        }
      }
    }
  }
}



.js-bg-fade {
  & * { z-index: 1; }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($grey-darkest,0.5);
    opacity: 1;
    z-index: 0;
  }
}