<div class="col poi">
  <a href="javascript:void(0);" data-modal-id="modal-pois" data-modal-item-id="{{poi.title|slugify}}" class="js-open-modal poi__image bg-img bg-img--16-9" style="background-image: url('{{site.baseurl}}/img/content/{{page.id}}/pois/{{poi.title|slugify}}.jpg');">
    {% if poi.image-credit %}
    <div class="bg-img__credit">
      {{poi.image-credit}}
    </div>
    {% endif %}
  </a>

  <div class="space--md"></div>
  <h4 class="title title--sm">{{poi.title}}</h4>

  {% if poi.title-sub %}
    <div class="title title--xxxs title--bold">{{poi.title-sub}}</div>
  {% endif %}

  <p class="text--small">{{poi.content|truncate:300}}</p>

  <a href="javascript:void(0);" data-modal-id="modal-pois" data-modal-item-id="{{poi.title|slugify}}" class="js-open-modal btn btn--solid btn--sm">Read more</a>

</div>